[Desktop Entry]
Type=Application
Version=1.0
Name=Conky  
Comment= Desktop monitor Manager  
Icon= Conky  
Exec=/usr/bin/conky  
Categories=Application;Graphics;
StartupNotify=true
Hidden=false
NoDisplay=false
